<div class="splash-section">
<main class="w-100 center flex flex-column vh-100 items-center">
  <h1 class="tc", id='app-name'>Budget Calculator</h1>
  <div class="w-100" id="log-in">
  <%= link_to new_user_session_path, class:'w-100 pl2 pr2 pl6-ns pr6-ns pl5-m pr5-m' do%>
    <button class="w-100">LOG IN</button>
  <%end%>
 </div>
 <div id='sign-up'>
  <%= link_to new_user_registration_path do%>
    <button>SIGN UP</button>
  <%end%>
 </div> 	
</main>
</div>