<header class="w-100 flex justify-between items-center pa2 pt1 pb1" id="header-login">
	<%=link_to root_path do %>
	     &#x2190;
	<%end%>
	<p class="f4 login-title">LOGIN</p>
	<p><%= f.submit "Log in", class:' login-submit fw6' %></p>
</header>	