/* 
*= require tachyons 
*= require font-awesome
*/
@font-face {
    font-family: 'Gladista Script';
    font-style: normal;
    font-weight: 400;
    src: local('Gladista Script'), url('https://fonts.cdnfonts.com/s/82351/Gladista.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Proxima Nova Light';
    font-style: normal;
    font-weight: 250;
    src: local('Proxima Nova'), url('https://fonts.cdnfonts.com/s/18823/ProximaNovaT-Thin.woff') format('woff');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Light', sans-serif;
}
body {
     background: #f1f3f2;
}
html,body {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button, input[type='submit'], input[type='checkbox'] {
    cursor: pointer;
}
input {
    outline: none;
}
#app-name {
    font-family: 'Gladista Script', sans-serif;
    flex: 0.5;
    font-weight: bold;
    display: flex;
    align-items: center; 
    color: #2b343b;
}

#log-in {
 flex: 0.3;
 display: flex;
 align-items: end;
 margin-bottom: 12px;
}

#log-in > a > button {
    border: none;
    background: #3778c2;
    padding: 1rem 2rem;
    color: #f1f3f2;
    font-weight: 600;
}

#sign-up {
 flex: 0;
}

#sign-up > a > button {
    border: none;
    background: none;
    font-weight: 600;
    color: #797c7e;
}

#header-login {
    background-color: #3778c2;
    color: #f1f3f2;
}
.login-title {
    font-family: 'Proxima Nova Bold', sans-serif;
}

#header-login > a {
    color: #f1f3f2;
    font-size: 40px;
}
.login-submit {
    border: none;
    background: none;
    color: #f1f3f2;
}
.new_user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field,.field_with_errors {
    border: 0.5px solid #efeff1;
    border-radius: 4px;
}
.field > input, .field > select {
   padding: 0.7rem;
   border: none;
}

.field > input::placeholder, .field > select > option {
    font-weight: 600;
    opacity: 0.7;
}

.field_with_errors > input, .field > select {
   padding: 0.7rem;
   border: none;
}

.field_with_errors > input::placeholder, .field > select > option {
    font-weight: 600;
    opacity: 0.7;
}

.sign-out {
    border: none;
    background: none;
    color: #f1f3f2;
}

.new-category, .new-transaction {
    background: #5fb523;
}

.new-category > a > button, .new-transaction > a > button {
    border: none;
    background: none;
    color: white
}

.submit-new-cat-trans {
    outline: none;
    border: none;
    background: #3778c2;
    color:  #f1f3f2;
}